@media(max-width: 375px) and (min-width: 320px){ 
	.mobile-btn{
		right: -12px!important;
	}
	.video-tab {
		margin-right: 6%!important;
	}
	.header-nav nav .logo {
		left: -10px;
	}
}
@media(max-width: 576px) and (min-width: 320px){ 
	.bgbg {
		background-image: none!important;
	}
	.homeimg{
		background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.homeimg .farms-block,
	.homeimg .production-block,
	.homeimg .sustainability-block,
	.homeimg .products-block{
		width: 153px;
		height: 153px;
	}
	.mobile-btn {
		right: 0px;
	}
	.header-nav nav .logo {
		top: -8px!important;
	}
	.header-nav {
		padding: 8px 12px!important;
	}
}
@media(max-width: 767px) and (min-width: 320px){ 
	.farms-block img, .production-block img, .sustainability-block img, .products-block img {
	    margin-top: 26%;
	}
	.farms-block h2, .production-block h2, .sustainability-block h2, .products-block h2 {
		margin-bottom: 16px;
		font-size: 12px;
	}
	.background-img-1, .background-img-2, .background-img-3, .background-img-4 {
		background-image: none;
	}
	.home-img{
		background-image: url(assets/images/mob-nek.png);
		position: relative;
	    background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	    padding: 20% 0%;
	}
	nav button[aria-expanded="false"] .navbar-toggler-icon {
	    background-image: url(assets/images/menu.svg);
	    background-size: 20px 15px;
	}
	nav button[aria-expanded="true"] .navbar-toggler-icon {
	    background-image: url(assets/images/close.svg);
	    background-size: 15px 15px;
	}
	.mobile-btn {
		position: absolute;
		right: 15px;
		z-index: 99999;
	}
	.header-nav {
		padding: 10px 70px;
	}
	.header-nav nav .logo {
		top: -12px;
	}
	.video-tab {
		margin-right: 15%;
	}
	.nav-links {
	    position: absolute;
	    background: #091633;
	    top: 0;
	    left: -26%;
	    right: -26%;
	    bottom: 0;
	    height: 100%;
	    z-index: 999;
	    margin-top: -10px;
	}
	.nav-links ul li {
		padding: 20px 0px;
	}
	.nav-links ul{
		background-color: #091633;
		text-align: center;
		margin-top: 30px;
	}
	.nav-links a {
		border-right: none!important;
	}
	.vertical-tab h2{
		color: #292626;
		font-family: TimesNewRomanPS-MT;
		font-size: 32px;
	  	font-weight: bold;
	}
	.vertical-tab button{
		background: transparent;
		border: none;
		outline: none;
	}
	.vertical-tab button,
	.vertical-tab h2 {
		margin: 0 12%;
	}
	.vertical-tab{
		padding: 6px 0px;
	}
	.image-block {
		margin: 0px;
	}
	.image-block img{
		margin-bottom: 25px;
	}
	.center-img-mob {
		text-align: center;
	}
	.raw-block{
		margin: 42px 0px 0px 42px;
	}
	.product-list{
		margin-left: 14%;
	}
}
@media(max-width: 1199px) and (min-width: 992px){ 
	.nav-links ul li a{
		font-size: 14px;
	    padding: 0px 8px;
	}
}
@media(max-width: 991px) and (min-width: 768px){ 
	.farms-block img, .production-block img, .sustainability-block img, .products-block img {
	    margin-top: 28px;
	}
	.farms-block h2, .production-block h2, .sustainability-block h2, .products-block h2 {
		margin-bottom: 26px;
		font-size: 14px;
	}
	.nav-links {
		margin-top: -4px;
	}
	.nav-links ul li a{
		font-size: 11px;
		padding: 0px 6px;
	}
	.header-nav nav{
		padding: 0px;
	}
	.header-nav{
		padding: 18px 30px;
	}
	.image-block img{
		margin-bottom: 25px;
	}
}
@media(max-width: 1339px) and (min-width: 992px){ 
	.farms-block img, .production-block img, .sustainability-block img, .products-block img {
	    margin-top: 50px;
	}
	.farms-block h2, .production-block h2, .sustainability-block h2, .products-block h2 {
		margin-bottom: 36px;
		font-size: 18px;
	}
	.header-nav {
		padding: 18px 40px;
	}
}