@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
a{
	text-decoration: none!important;
}
html,body {
  height: 100%;
  width: 100%;
}
.header-nav {
	background-color: #091633;
	padding: 18px 10%;
	position: relative;
	border-bottom: 5px solid #a87943;
}
.header-nav nav .logo{
	position: absolute;
	top: -18px;
	left: 0px;
	z-index: 1;
}
.nav-links ul li a{
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
    color: #ffffff;
    padding: 0px 18px;
}
.nav-links li:not(:last-child) a{
	border-right: 1px solid #a87943;
}
.main-home,
.homeimg{
	width: 100%;
}
.homeimg{
	display: table;
	height: 100%;
}
.row1, .row2 {
	display: table-row;
	height: 50%;
}
.homeimg .bgbg{
	height: 100%;
    width: 50%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg1 a, .bg2 a, .bg3 a, .bg4 a{
	display: block;
}
.homeimg .farms-block,
.homeimg .production-block,
.homeimg .sustainability-block,
.homeimg .products-block{
	width: 199px;
    height: 199px;
    position: absolute;
    z-index: 100;
    background: rgba(0,0,0,0.35);
}
.homeimg .farms-block {
    bottom: 0;
    right: 0px;
}
.homeimg .production-block{
    bottom: 0;
    left: 0px;
}
.homeimg .sustainability-block{
    top: 0;
    right: 0px;
}
.homeimg .products-block{
    top: 0;
    left: 0px;
}
.background-img-1{
	background-image: url(assets/images/nek1.png);
	padding: 20% 0%;
}
.background-img-2{
	background-image: url(assets/images/nek2.png);
	padding: 20% 0%;
}
.background-img-3 {
	background-image: url(assets/images/nek3.png);
	padding: 20% 0%;
}
.background-img-4 {
	background-image: url(assets/images/nek4.png);
	padding: 20% 0%;
}
.background-img-css{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.farms-block, .production-block, .sustainability-block, .products-block{
	position: absolute;
	background-color: rgba(0,0,0,0.35);
}
.farms-block{
	bottom: 0;
	right: 0;
	border-top-left-radius: 5px;
}
.production-block{
	bottom: 0;
	left: 0;
	border-top-right-radius: 5px;
}
.sustainability-block{
	top: 0;
	right: 0;
	border-bottom-left-radius: 5px;
}
.products-block{
	top: 0;
	left: 0;
	border-bottom-right-radius: 5px;
}
.farms-block img, .production-block img, .sustainability-block img, .products-block img{
	margin-top: 60px;
	margin-bottom: 17px;
}
.farms-block h2 ,.production-block h2, .sustainability-block h2, .products-block h2{
	margin-bottom: 52px;
	font-family: 'Rubik', sans-serif;
    color: #ffffff;
    font-size: 20px;
}
.vertical-tab {
	padding: 111px 0px;
	background-color: #ebebec;
	height: 100%;
}
.product-list{
	margin-left: 33%;
}
.product-list h2{
	color: #292626;
	font-family: TimesNewRomanPS-MT;
	font-size: 32px;
  	font-weight: bold;
}
.product-list h2::after{
	content: '';
	border-bottom: 3px solid #e3b678;
	width: 24px;
	display: block;
	margin-top: 20px;
	text-align: center;
}
.product-list ul{
	margin: 35px 0px;
	list-style-type: none;
	padding: 0;
}
.product-list li a{
	color: rgb(41, 38, 38,0.3);
}
.product-list li a:hover,
.product-list li a:active {
	color: #292626;
}
.product-list li:not(:last-child){
	margin-bottom: 25px;
}
.product-content{
	padding: 0px 40px;
}
.product-content::before{
	content: '';
	border-top: solid 1px #d6a86c;
	display: block;
	margin-bottom: 35px;
}
.product-content p{
	text-align: justify;
}
.raw-block{
	margin: 42px 0px 0px 60px;
}
.raw-block h1{
	font-family: 'Rubik', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #292626;
}
.image-block{
	margin-bottom: 40px;
	margin-right: 0px;
}
.toggle-btn{
	display: block;
}
